.header{
    padding: toRem(80) 0px toRem(108) 0px;
    @media (max-width: 850px) {
        padding: toRem(40) 0px;
    }
}

.navbar {
    display: flex;
    gap: toRem(85);
    align-items: center;

    .logo {
        flex-basis: toRem(750);
        flex-shrink: 1;
        font-size: toRem(27);
        line-height: 1;
    }

    .navbar-list {
        display: flex;
        gap: toRem(75);

        li {
            white-space: nowrap;
        }
    }

    .contact-list {
        display: flex;
        gap: toRem(10);
    }

    .navbar-list li:hover,  .navbar-list li a:hover{
        text-decoration: underline;
        transition-duration: 2s;
    }

    @media (max-width: 770px) {
        .navbar-list {
            gap: 50px;
        }
    }

    @media (max-width: 660px) {
        gap: 20px;
            .logo {
                font-size: 20px;
            }

            .navbar-list {
                gap: 20px;
            }
    }

    @media (max-width: 470px) {
        flex-direction: column;
            .logo {
                flex-basis: 0px;
            }
    }
}