@import "reset";
@import "mixins";
@import "navbar";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: toRem(16);
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
}

.wrapper{
    overflow: clip;
    min-height: 100%;
}

.bg-image-portfolio {
    background-color: #080707;
    overflow: hidden;
    max-width: 100%;

    .container {
        max-width: toRem(1468);
        margin: 0 auto;
        padding: toRem(0) toRem(20);
    }

    .main {
        h1 {
            font-size: toRem(42);
            text-align: center;
            margin-bottom: toRem(70);
        }

        .first-portfolio-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: toRem(20);

            :nth-child(1) {
                grid-column: span 4;
                grid-row: span 2;
            }
            :nth-child(2) {
                grid-column: span 4;
                grid-row: span 4;
            }

            :nth-child(3) {
                grid-column: span 4;
                grid-row: span 2;
            }
            :nth-child(4) {
                grid-column: span 4;
                grid-row: span 4;
            }
            :nth-child(5) {
                grid-column: span 4;
                grid-row: span 2;
            }
            :nth-child(6) {
                grid-column: span 4;
                grid-row: span 2;
            }

            li {
                img {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    aspect-ratio: 2 / 1;
                }
            }
        }
    }

    .footer {
        .container {
            max-width: toRem(1226);
            margin: toRem(80) auto;
            padding: toRem(0) toRem(20);
        }
    }

}
